.sort-buttons {
  margin-bottom: 10px;
}
.sort-buttons button {
  cursor: pointer;
  margin-right: 5px;
  padding: 0 10px;
  border: none;
  width: auto;
  height: 25px;
  background-color: #d8d4d4;
}

.sort-buttons button:hover {
  background-color: purple;
  color: white;
}